.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pureWhite: #fff;
  --pureBlack: #000;
  --lighterWhite: #f0f9ff;
  --silver: #e0f2fe;
  --contactDark: #1a2a6c;
  --contactLight: #1e3a8a;
  --footerColor: #1f2937;
  --graphite: #4b5d70;
  --lightBLue: #007bff;
  --btnBLue: #3b82f6;
  --btnPurple: #8b5cf6;
  --purple: #6f42c1;
  --accentBlue: #007acc;
  --lightPurple: #5c7aea;
  --lightTextGradient: linear-gradient(90deg, #bfdbfe, #ffffff);
  --darkTextGradient: linear-gradient(90deg, #7a92a9, #4b5d70);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav {
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.nav .wrapper {
  padding: 0.8em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  text-decoration: none;
}
.nav__logo-img {
  width: 75px;
}
.nav__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.nav__divider {
  height: 15px;
  width: 1px;
  background-color: var(--pureBlack);
}
.nav__contact-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--pureBlack);
}
.nav__contact-icon {
  width: 15px;
}
.nav__contact-link-span {
  display: none;
}
.nav__reviews {
  text-decoration: none;
}
.nav__reviews-img {
  width: 35px;
}

.header {
  background: linear-gradient(180deg, var(--lightBLue), var(--purple) 80%);
  overflow: hidden;
  overflow: hidden;
}
.header__content {
  padding: 5em 2em;
}
.header__hero {
  display: none;
}
.header__title {
  font-size: clamp(4.3rem, 12vw, 7rem);
  line-height: 140%;
  font-weight: 800;
  background: var(--lightTextGradient);
  -webkit-background-clip: text;
          background-clip: text;
  max-width: 500px;
  color: transparent;
}
.header__info {
  margin-block-start: 1em;
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  font-size: clamp(1.2rem, 2.8vw, 1.6rem);
  max-width: 500px;
}
.header__cta, .header__reviews-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 2em;
  padding: 1.5em;
  color: var(--pureWhite);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 500;
  border-radius: 2px;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: background 0.6s 0.1s, transform 0.3s, box-shadow 0.3s;
}
.header__cta {
  background: linear-gradient(90deg, var(--btnBLue), var(--btnPurple) 80%);
}
.header__cta:hover {
  transform: translateY(-1px);
  background-size: 250%;
  background-position: right center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.header__cta:hover .header__cta-icon--arrow {
  transform: translateX(2px);
}
.header__reviews-btn {
  margin-inline-start: 0.8em;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__reviews-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
}
.header__cta-icon {
  display: inline-block;
  width: 10px;
  margin-inline-start: 0.5em;
  vertical-align: middle;
  transition: transform 0.3s 0.1s;
}

.offers {
  position: relative;
  z-index: 0;
}
.offers__top-bg {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (576px <= width) {
  .nav__contact-link-span {
    display: inline-block;
    font-size: 1.3rem;
  }
}
@media (900px <= width) {
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__hero {
    position: relative;
    display: block;
    width: 92%;
    max-width: 600px;
    height: 100%;
  }
  .header__hero {
    padding: 5em 2em;
  }
  .header__content {
    width: 100%;
  }
  .header__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
  }
  .header__cta, .header__reviews-btn {
    position: relative;
    overflow: hidden;
  }
  .header__cta::before, .header__reviews-btn::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 150%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    left: -20%;
    top: -45%;
    transform: rotate(20deg);
    transition: left 0.2s 0.1s;
  }
  .header__cta:hover::before, .header__reviews-btn:hover::before {
    left: 120%;
  }
}
@media (992px <= width) {
  .nav__logo-img {
    width: 90px;
  }
  .nav__reviews-img {
    width: 50px;
  }
  .offers {
    position: relative;
  }
  .offers__top-bg {
    top: -10%;
    width: 100%;
    position: absolute;
  }
}
@media (1100px <= width) {
  .nav .wrapper {
    padding: 0.8em 4em;
  }
  .header__content, .header__hero {
    padding: 5em 4em;
  }
}/*# sourceMappingURL=style.css.map */