@keyframes left {
	from {
		left: -20%;
		top: -45%;
		transform: rotate(20deg);
	}
	to {
		left: 150%;
		top: -45%;
		transform: rotate(20deg);
	}
}
@keyframes scaling-small {
	from {
		transform: scale(1);
		opacity: 0.25;
	}
	to {
		transform: scale(1.35);
		opacity: 0;
	}
}
@keyframes scaling-big {
	from {
		transform: scale(1);
		opacity: 0.25;
	}
	to {
		transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes green-moving {
	from {
		transform: translate(-50%, -50%);
	}
	to {
		transform: translate(-50%, -30%);
	}
}
@keyframes red-moving {
	from {
		transform: translate(100%, -50%);
	}
	to {
		transform: translate(100%, -20%);
	}
}
@keyframes blue-moving {
	from {
		transform: translate(-100%, -50%);
	}
	to {
		transform: translate(-100%, -20%);
	}
}

@keyframes pulsing {
	from {
		transform: translate(-50%, -50%) scale(1);
	}
	to {
		transform: translate(-50%, -50%) scale(0.95);
	}
}
@keyframes sizingLeft {
	0% {
		width: 10%;
	}
	10%,
	20%,
	30%,
	40%,
	50% {
		width: 10%;
	}
	60%,
	70%,
	70%,
	90%,
	100% {
		width: 85%;
	}
}
@keyframes sizingRight {
	0% {
		width: 85%;
	}
	10%,
	20%,
	30%,
	40%,
	50% {
		width: 85%;
	}
	60%,
	70%,
	70%,
	90%,
	100% {
		width: 10%;
	}
}

@keyframes opacity {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0.85;
		transform: scale(0.95);
	}
}
