@use "./_animations" as *;
@use "./_components" as *;
@use "./_fontface" as *;
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pureWhite: #fff;
	--pureBlack: #000;
	--lighterWhite: #f0f9ff;
	--silver: #e0f2fe;
	--contactDark: #1a2a6c;
	--contactLight: #1e3a8a;
	--footerColor: #1f2937;
	--graphite: #4b5d70;
	--lightBLue: #007bff;
	--btnBLue: #3b82f6;
	--btnPurple: #8b5cf6;
	--purple: #6f42c1;
	--accentBlue: #007acc;
	--lightPurple: #5c7aea;
	--lightTextGradient: linear-gradient(90deg, #bfdbfe, #ffffff);
	--darkTextGradient: linear-gradient(90deg, #7a92a9, #4b5d70);
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
}
body {
	font-family: "Montserrat", sans-serif;
}

// NAV

.nav {
	position: relative;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	z-index: 100;
	.wrapper {
		padding: 0.8em 2em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		text-decoration: none;
	}
	&__logo-img {
		width: 75px;
	}
	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}
	&__divider {
		height: 15px;
		width: 1px;
		background-color: var(--pureBlack);
	}
	&__contact-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		color: var(--pureBlack);
	}
	&__contact-icon {
		width: 15px;
	}
	&__contact-link-span {
		display: none;
	}
	&__reviews {
		text-decoration: none;
	}
	&__reviews-img {
		width: 35px;
	}
}

// HEADER
.header {
	background: linear-gradient(180deg, var(--lightBLue), var(--purple) 80%);
	overflow: hidden;
	&__content {
		padding: 5em 2em;
	}
	&__hero {
		display: none;
	}
	&__title {
		font-size: clamp(4.3rem, 12vw, 7rem);
		line-height: 140%;
		font-weight: 800;
		background: var(--lightTextGradient);
		background-clip: text;
		max-width: 500px;
		color: transparent;
	}
	&__info {
		margin-block-start: 1em;
		color: rgba(255, 255, 255, 0.8);
		line-height: 150%;
		font-size: clamp(1.2rem, 2.8vw, 1.6rem);
		max-width: 500px;
	}
	&__cta,
	&__reviews-btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-block-start: 2em;
		padding: 1.5em;
		color: var(--pureWhite);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		font-size: clamp(1rem, 2vw, 1.2rem);
		font-weight: 500;
		border-radius: 2px;
		letter-spacing: 0.5px;
		text-decoration: none;
		transition: background 0.6s 0.1s, transform 0.3s, box-shadow 0.3s;
	}
	&__cta {
		background: linear-gradient(90deg, var(--btnBLue), var(--btnPurple) 80%);

		&:hover {
			transform: translateY(-1px);
			background-size: 250%;
			background-position: right center;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
		}
		&:hover .header__cta-icon--arrow {
			transform: translateX(2px);
		}
	}
	&__reviews-btn {
		margin-inline-start: 0.8em;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(10px);

		&:hover {
			transform: translateY(-1px);
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
			background-color: rgba(255, 255, 255, 0.15);
		}
	}
	&__cta-icon {
		display: inline-block;
		width: 10px;
		margin-inline-start: 0.5em;
		vertical-align: middle;
		transition: transform 0.3s 0.1s;
	}
}

// OFFERS SECTION

.offers {
	position: relative;
	padding: 10em 2em;
	z-index: 0;

	&__top-bg {
		position: absolute;
		top: 0;
		inset-inline: 0;
		width: 100%;
		z-index: -1;
	}
	&__header-icons {
		display: none;
	}
	&__title {
		font-size: clamp(4rem, 12vw, 6.5rem);
		font-weight: 800;
		background: var(--darkTextGradient);
		background-clip: text;
		color: transparent;
		max-width: 500px;
	}
	&__title:last-child {
		color: var(--graphite);
	}
	&__body {
		padding: 2em 0;
		color: var(--graphite);
	}
	&__subtitle {
		font-size: clamp(1.4rem, 3.4vw, 1.85rem);
		line-height: 170%;
		font-weight: 700;
	}
	&__text {
		padding: 2em 0;
		font-size: clamp(1.2rem, 2.6vw, 1.4rem);
		line-height: 180%;
		font-weight: 400;
	}
}

// MEDIA

@media (576px <= width) {
	.nav {
		&__contact-link-span {
			display: inline-block;
			font-size: 1.3rem;
		}
	}
	.offers {
		&__body {
			padding: 6em 0;
			color: var(--graphite);
		}
		&__text {
			line-height: 180%;
		}
	}
}
@media (768px <= width) {
	.offers {
		padding: 15em 2em;
		&__body {
			padding: 6em 0;
		}
		&__subtitle {
			font-size: 2rem;
		}
		&__text {
			line-height: 180%;
			font-size: 1.6rem;
		}
	}
}
@media (900px <= width) {
	.header {
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__hero {
			position: relative;
			display: block;
			width: 92%;
			max-width: 600px;
			height: 100%;
		}
		&__hero {
			padding: 5em 2em;
		}
		&__content {
			width: 100%;
		}
		&__img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -45%);
			width: 100%;
		}
		&__cta,
		&__reviews-btn {
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				width: 10px;
				height: 150%;
				background: linear-gradient(
					120deg,
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 0.5) 50%,
					rgba(255, 255, 255, 0) 100%
				);
				left: -20%;
				top: -45%;
				transform: rotate(20deg);
			}
			&:hover::before {
				animation: left 0.4s 0.1s forwards;
			}
		}
	}
	.offers {
		padding: 20em 2em;
		&__body {
			padding: 8em 0;
		}

		&__header {
			display: flex;
			justify-content: space-between;
		}

		&__header-icons {
			display: block;
			position: relative;
			width: 50%;
			max-width: 500px;
		}
		&__header-icon-bg {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 65px;
			height: 65px;
			padding: 1.5em;
			border-radius: 50%;
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);

			&::before, &::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				z-index: -1;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				opacity: 0.25;
				animation: scaling-small 3s infinite;
			}
			&::after {
				animation: scaling-big 3s .5s infinite;
			}
			&--blue {
				bottom: 0;
				right: 0;
				transform: translate(-100%, -50%);
				background-color: var(--accentBlue);
				animation: blue-moving 2s .5s infinite alternate;
				&::before, &::after {
					background-color: var(--accentBlue);
				}
			}
			&--green {
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #3eb489;
				animation: green-moving 2s infinite alternate;
				&::before, &::after {
					background-color: #3eb489;
				}
			}
			&--red {
				bottom: 0;
				left: 0;
				transform: translate(100%, -50%);
				background-color: #ff6b6b;
				animation: red-moving 2s .8s infinite alternate;
				&::before, &::after {
					background-color: #ff6b6b;
				}
			}
		}
	}
}
@media (992px <= width) {
	.nav {
		&__logo-img {
			width: 90px;
		}
		&__reviews-img {
			width: 50px;
		}
	}
	.header {
		&__content,
		&__hero {
			padding: 8em 2em;
		}
	}
	.offers {
		position: relative;

		&__top-bg {
			top: -5%;
			width: 100%;
			position: absolute;
		}
	}
}
@media (1100px <= width) {
	.nav {
		.wrapper {
			padding: 0.8em 4em;
		}
	}
	.header {
		&__content,
		&__hero {
			padding: 8em 4em;
		}
	}
}
