@keyframes left {
	from {
		left: -100%;
	}
	to {
		left: 100%;
	}
}
@keyframes upAndDown {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(10px);
	}
}
@keyframes scaling-small {
	from {
		transform: scale(1);
		opacity: 0.25;
	}
	to {
		transform: scale(1.35);
		opacity: 0;
	}
}
@keyframes scaling-big {
	from {
		transform: scale(1);
		opacity: 0.25;
	}
	to {
		transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes green-moving {
	from {
		transform: translate(-50%, -50%);
	}
	to {
		transform: translate(-50%, -30%);
	}
}
@keyframes red-moving {
	from {
		transform: translate(100%, -50%);
	}
	to {
		transform: translate(100%, -20%);
	}
}
@keyframes blue-moving {
	from {
		transform: translate(-100%, -50%);
	}
	to {
		transform: translate(-100%, -20%);
	}
}

@keyframes pulsing {
	from {
		transform: translate(-50%, -50%) scale(1);
	}
	to {
		transform: translate(-50%, -50%) scale(0.95);
	}
}
@keyframes sizingLeft {
	0% {
		width: 10%;
	}
	10%,
	20%,
	30%,
	40%,
	50% {
		width: 10%;
	}
	60%,
	70%,
	70%,
	90%,
	100% {
		width: 85%;
	}
}
@keyframes sizingRight {
	0% {
		width: 85%;
	}
	10%,
	20%,
	30%,
	40%,
	50% {
		width: 85%;
	}
	60%,
	70%,
	70%,
	90%,
	100% {
		width: 10%;
	}
}

@keyframes opacity {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0.85;
		transform: scale(0.95);
	}
}

@keyframes bgAnimation {
	0%,
	10%,
	30% {
		transform: scale(1) rotate(0);
	}
	40%,
	50% {
		transform: scale(1.1) rotate(0);
	}
	60%,
	70% {
		transform: scale(1) rotate(0);
	}
	80%,
	90%,
	100% {
		transform: scale(1) rotate(180deg);
	}
}

@keyframes showBackToTop {
	from {
		bottom: -100px;
	}
	to {
		bottom: -26px;
	}
}
@keyframes hideBackToTop {
	from {
		bottom: -26px;
	}
	to {
		bottom: -100px;
	}
}

@keyframes contactBgRed {
	from {
		opacity: 0.45;
		transform: scale(0.9) translateY(0);
	}
	to {
		opacity: 0.2;
		transform: scale(1.2) translateY(50px);
	}
}

@keyframes contactBgGreen {
	from {
		opacity: 0.45;
		transform: scale(0.9) translateY(0);
	}
	to {
		opacity: 0.2;
		transform: scale(1.2) translateY(-50px);
	}
}

@keyframes rotateLeft {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes counterBgScaling {
	from {
		transform: translate(-50%, -60%) scale(1);
	}
	to {
		transform: translate(-50%, -60%) scale(1.1);
	}
}

@keyframes sectionAnimated {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes heroAnimated {
	from {
		opacity: 0;
		transform: translate(-50%, -35%);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -45%);
	}
}
@keyframes showPopup {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
