@mixin ctaBtn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1.5em;
	color: var(--pureWhite);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	font-size: clamp(1.1rem, 2vw, 1.2rem);
	font-weight: 500;
	border-radius: 2px;
	letter-spacing: 0.5px;
	text-decoration: none;
	will-change: transform;
	transition: background 0.6s 0.1s, transform 0.3s, box-shadow 0.3s;
}
@mixin btnShiningElement {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.2),
		transparent
	);
}
@mixin contactPlaceholderBar {
	position: relative;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 5px;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.blue-line {
	margin: 2em 0 5em;
	width: 80px;
	height: 1px;
	background-color: var(--accentBlue);
}
.section-divider {
	position: absolute;
	inset-inline: 0;
	width: 100%;
	height: auto;
	z-index: -1;
}
.pattern-bg,
.rec-pattern-bg {
	display: none;
}

.social-link {
	width: 60px;
	padding: 0.8em;
	position: fixed;
	right: -26px;
	text-decoration: none;
	z-index: 900;
	transition: transform 0.3s;

	svg {
		width: 18px;
		height: 18px;
	}
}
.instagram-link {
	top: 360px;
	background-color: #e1306c;
}
.facebook-link {
	top: 320px;
	background-color: #1877f2;
}
.social-link:hover {
	transform: translateX(-15px);
}

.back-to-top {
	display: flex;
	justify-content: center;
	padding: 0.5em;
	align-items: flex-start;
	position: fixed;
	width: 34px;
	height: 60px;
	background-color: #5a4099;
	z-index: 999;
	bottom: -100px;
	right: 0;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}
.back-to-top:focus-visible,
.back-to-top:hover {
	background-color: #7855c9;
}
.back-to-top-icon {
	width: 21px;
	height: 21px;
}

.back-to-top.active {
	animation: showBackToTop 0.4s forwards;
}
.back-to-top.hidden {
	animation: hideBackToTop 0.4s both;
}

.footer-bottom-bg {
	bottom: -5px;
	transform: rotate(180deg);
}

// CONTACT FORM
.msg-status {
	padding: 1em;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 500px;
	height: 70px;
	background-color: #3eb489;
	z-index: 1000;
	color: var(--pureWhite);
	border-radius: 10px;
	transition: top 1s;
}
.msg-status.success {
	top: 20%;
}
.msg-status.error {
	top: 20%;
	background-color: #ff6b6b;
}
.msg-status__info {
	font-size: clamp(1.6rem, 4vw, 2rem);
}

.contact {
	&__popup-img img {
		display: none;
	}
	&__popup {
		--contact-popup-inline-spacing: 1.5rem;
		--mainFontSize: clamp(1.2rem, 3vw, 1.4rem);

		position: fixed;
		display: none;
		opacity: 0;
		top: 5%;
		left: 50%;
		width: min(90%, 100rem);
		max-height: 95vh;
		transform: translateX(-50%);
		background-color: var(--pureWhite);
		border-radius: 1rem;
		z-index: 1000;
		overflow: hidden;
		overflow-y: auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

		&.popup-visible {
			display: block;
			animation: showPopup 0.5s forwards;
		}

		&-info {
			padding: var(--contact-popup-inline-spacing);
		}
		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1em;
			padding: 1em var(--contact-popup-inline-spacing);
			background-color: var(--accentBlue);
			color: var(--pureWhite);
		}
		&-text {
			line-height: 160%;
			color: var(--graphite);
			font-weight: 500;
			font-size: clamp(1.3rem, 2.8vw, 1.6rem);

			&:last-of-type {
				margin-block-start: 1em;

				a {
					text-decoration: none;
					color: var(--graphite);
					font-weight: 600;
				}
			}
		}
		&-title {
			font-size: clamp(1.45rem, 4vw, 2.5rem);
			font-weight: 550;
		}
		&-label {
			width: 100%;
			text-align: center;
			background-color: rgb(230 240 255 / 90%);
			padding: 1em;
			border-radius: 0.4rem;
			color: #465362;
			font-weight: 550;
			border: 2px solid transparent;
			cursor: pointer;
			font-size: var(--mainFontSize);
		}
		&-form {
			display: flex;
			flex-direction: column;
			gap: 1em;
			margin-block-start: 1.5em;
		}
		&-close {
			padding: 0.5em;
			cursor: pointer;

			svg {
				pointer-events: none;
			}
		}
		&-input {
			padding: 1em;
			border: 2px solid #c2ccda;
			border-radius: 0.4rem;
			font-size: var(--mainFontSize);
			color: var(--graphite);
			transition: border-color 0.3s;

			&:focus,
			&:focus-visible {
				outline: none;
				border-color: var(--accentBlue);
			}
		}
		&-error {
			color: #d12000;
			font-size: 1.4rem;
			visibility: hidden;

			&.visible {
				visibility: visible;
			}
		}
	}
	&__input-send-btn {
		padding: 1.2em 2em;
		width: 100%;
		background-color: var(--accentBlue);
		color: var(--pureWhite);
		font-size: var(--mainFontSize);
		font-weight: 500;
		border-radius: 0.4rem;
		cursor: pointer;

		&:focus-visible {
			outline: 2px solid var(--accentBlue);
			outline-offset: 2px;
		}
	}
}

input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + label.contact__popup-label {
	background: none;
	border-color: var(--accentBlue);
}

@media (576px <= width) {
	.contact {
		&__popup {
			--contact-popup-inline-spacing: 2.5rem;
		}
		&__popup-header {
			padding: 2em var(--contact-popup-inline-spacing);
		}
		&__popup-close svg {
			width: 35px;
			height: 35px;
		}
	}
}

@media (700px <= width) {
	.blue-line {
		margin: 2em 0;
		width: 120px;
		height: 2px;
	}
}
@media (768px <= width) {
	.contact {
		&__popup-close {
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.8;
			}
		}
		&__popup-label {
			transition: background 0.3s, border-color 0.3s, transform 0.3s;

			&:hover,
			&:focus-visible {
				background: none;
				border-color: var(--accentBlue);
				outline: none;
			}
			&:active {
				transform: scale(0.95);
			}
		}
		&__input-send-btn {
			transition: background-color 0.3s, transform 0.3s;

			&:hover {
				background-color: #0a64a1;
			}
			&:active {
				transform: scale(0.95);
			}
		}
	}
}

@media (900px <= width) {
	.contact {
		&__popup {
			&-body {
				display: flex;
			}
			&-info {
				width: 100%;
			}
			&-img {
				position: relative;
				width: 90%;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					background-color: rgba(0, 0, 0, 0.05);
				}
			}
		}
	}
}
@media (992px <= width) {
	.social-link {
		right: -22px;

		svg {
			width: 20px;
			height: 20px;
		}
	}
	.back-to-top {
		width: 38px;
	}
	.back-to-top-icon {
		width: 24px;
		height: 24px;
	}
	.back-to-top:focus-visible,
	.back-to-top:hover {
		transform: translateY(-15px);
	}
}

@media (1100px <= width) {
	.pattern-bg,
	.rec-pattern-bg {
		display: block;
		position: absolute;
		width: 35px;
		height: auto;
		z-index: -1;
	}

	.rec-pattern-bg:first-child {
		top: 26%;
		right: 20%;
		opacity: 0.6;
		animation: rotateLeft 50s infinite;
	}

	.pattern-bg:first-child {
		top: 85%;
		left: 4em;
		opacity: 0.6;
		animation: upAndDown 3s infinite alternate;
	}
	.pattern-bg:nth-child(2) {
		top: 80%;
		right: 18%;
		transform: scale(0.7);
	}
	.pattern-bg:nth-child(3) {
		display: none;
	}
	.pattern-bg:nth-child(4) {
		width: 45px;
		top: 65%;
		left: 45%;
		opacity: 0.8;
	}
	.pattern-bg:nth-child(5) {
		width: 35px;
		top: 78%;
		left: 10%;
		opacity: 0.7;
	}

	.rec-pattern-bg:nth-child(2) {
		left: 7%;
		top: 77%;
		opacity: 0.5;
	}
}
